@tailwind base;
@tailwind components;
@tailwind utilities;

/* ComingSoonPage.css */
@keyframes animatedBackground {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.coming-soon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #ff69b4, #9128ac, #2697b5, #30e3ca);
  background-size: 400% 400%;
  animation: animatedBackground 15s linear infinite;
}